.image-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	width: auto;
	max-height: 500px;
	max-width: 500px;

	& > img {
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
	}
}
