@import './../../variables.scss';

.select-container {
	position: relative;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid $primary-color;
	width: 400px;

	& > .select-box {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		cursor: pointer;
		& > label {
			margin: 0;
			font-size: 16px;
			font-weight: 600;
			padding-right: 10px;
		}

		& > input {
			width: 300px;
			height: 32px;
			border-radius: 5px;
			border: 1px solid $primary-color;
			padding: 5px;
		}

		& > input:hover {
			outline: none;
		}

		& > button {
			background-color: transparent;
			border: 1px solid $secondary-color;
			border: transparent;
			height: 32px;
			width: 32px;
		}

		& > button:focus {
			outline: none;
		}
	}

	& > .select-list {
		position: absolute;
		left: 0;
		right: 0;
		background-color: $white-color;
		border: 1px solid $primary-color;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		max-height: 150px;
		overflow-y: auto;
		z-index: 1000;
		padding: 5px;

		& > li {
			cursor: pointer;
			list-style-type: none;
			display: flex;
			align-items: center;
			justify-content: space-between;

			& > .button-container {
				display: flex;

				& > .form-button button {
					min-width: 20px;
					height: 20px;
					border: transparent;
					color: $secondary-color;
				}

				& > .form-button button:hover {
					background-color: transparent;
					color: $primary-color;
				}

				& > .form-button button:focus {
					outline: none;
				}
			}
		}
		& > li:hover {
			background-color: #f0f0f0;
		}
	}

	& > .select-list-down {
		top: 100%;
		margin: 0;
	}

	& > .select-list-up {
		bottom: 100%;
		margin: 0;
	}
}

.select-container:hover {
	color: #333333;
}
