@import './../variables.scss';

.welcome {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-image: url('../assets/images/login.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	& > .welcome-message {
		font-family: 'Parisienne', cursive;
		color: $primary-color;
		font-size: 40px;
		font-weight: 700;
	}

	& > .form-container {
		& > .textbox-container {
			color: $secondary-color;
			font-weight: 600;
			border: 2px solid $secondary-color;

			& > input {
				border: 1px solid $secondary-color;
			}
		}

		& button {
			border: 1px solid $secondary-color;
			color: $secondary-color;
		}
	}
}
