@import './../variables.scss';

.Toastify__toast--success {
	background-color: $success-color;
	color: $white-color;
}

.Toastify__toast--error {
	background-color: $primary-color;
	color: $white-color;
}
