// Colors
$primary-color: #d83a2a;
$secondary-color: #333333;
$success-color: #4caf50;
$new-color: #fac4c4;
$white-color: #ffffff;
$background-color: #f2f2f2;

// Fonts
$font-family-base: 'Playwrite DE Grund', cursive;
$font-size-base: 16px;

// Spacing
$padding-base: 20px;
$margin-base: 16px;
